# dependencies
node_modules/

# compiled output
/dist
/documentation
/doc
/server/tmp/*
/out-tsc
/environmentDoc
/tmp

# IDEs and editors
/.idea
*.iml
*.ipr
*.iws
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspaces